    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 16px;
    }
    
    .font1 {
        font-family: sans;
    }
    
    .font2 {
        font-family: cursive;
        font-weight: bold;
    }
    
    a {
        text-decoration: none;
        transition: 0.5s;
    }
    
    a:hover {
        cursor: pointer;
    }

    hr {
        border-color: dodgerblue;
        margin-bottom: 1em;
    }
    
    .center {
        margin-right: auto;
        margin-left: auto;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: "header" "hero" "intro" "technologies" "recent-work" "projects" "resume" "about" "colab" "footer";
        justify-self: center;
        width: 100vw;
    }

    main {
        margin-bottom: -80em;
    }
    /* header */
    
    .header {
        grid-area: header;
        margin-top: 20px;
        width: 100%;
        max-width: 1400px;
    }
    
    .logo-container {
        float: left;
        padding-left: 10%;
        height: 60px;
        width: 60px;
    }
    
    .logo-img {
        height: 50px;
        width: 50px;
        transition: 0.5s;
    }
    
    .logo-img:hover {
        cursor: pointer;
        height: 60px;
        width: 60px;
        opacity: .7;
    }
    
    .name {
        clear: both;
        float: left;
        padding-left: 10%;
        margin-top: -.5em;
    }

    .name-text {
        font-size: 80%;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .contact-btn-container {
        float: right;
        padding-right: 10%;
        margin-top: -50px;
    }
    
    .contact-btn {
        font-size: 110%;
        color: dodgerblue;
        background-color: transparent;
        border: 2px solid dodgerblue;
        border-radius: 1em;
        padding: .5em 1em;
        transition: 0.5s;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
    }
    
    .contact-btn:hover {
        color: white;
        background-color: dodgerblue;
        cursor: pointer;
    }
    /* hero */
    
    .hero {
        grid-area: hero;
        text-align: center;
        width: 100vw;
        padding: 1em;
    }
    
    .main-heading {
        font-size: 230%;
        margin-bottom: 1em;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }
    
    .main-tag {
        font-size: 120%;
        margin-bottom: 1em;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .hero-img {
        width: 54%;
        height: auto;
        max-width: 270px;
        transition: .5s ease;
        border-radius: 50%;
    }

    .hero-img:hover {
        animation:bounceOut 1s ease-out;
        animation-iteration-count: 4;
        border-radius: 50%;
    }

    @keyframes bounceOut {
        0%{ box-shadow: 0 0 0 10px rgba(30, 144, 255, .05); opacity:1; }
        25%{ box-shadow: 0 0 0 40px rgba(30, 144, 255, .1); opacity:1; }
        50%{ box-shadow: 0 0 0 80px rgba(30, 144, 255, .2); opacity:1; }
        75%{ box-shadow: 0 0 0 40px rgba(30, 144, 255, .1); opacity:1; }
        100%{ box-shadow: 0 0 0 20px rgba(30, 144, 255, .05); opacity:1; }
}
    /* intro */
    
    .intro {
        grid-area: intro;
        width: 100%;
        
        text-align: center;
    }
    
    .intro-topper {
        width: 100%;
        max-width: 700px;
        height: auto;
        margin-top: 2em;
    }
    
    .intro-inner-container {
        background-color: dodgerblue;
        color: white;
        padding: 40px 5%;
        padding-bottom: 140px;
        text-align: center;
    }
    
    .intro-text {
        font-weight: bold;
        font-size: 160%;
        width: 90%;
        max-width: 700px;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }

    .larger {
        font-size: 145%;
        width: 100%;
    }
    
    .intro-description {
        margin-top: 2em;
        font-size: 120%;
        width: 80%;
        max-width: 600px;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    /* technologies */
    
    .technologies {
        grid-area: technologies;
        margin-top: -100px;
        width: 88%;
        max-width: 600px;
        height: auto;
        border-radius: 1em;
        background-color: white;
        z-index: 1;
        padding: 1em;
        padding-top: 1em;
        text-align: center;
    }
    
    .brackets {
        color: dodgerblue;
        font-size: 200%;
        font-weight: bold;
        margin-bottom: 1em;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }
    
    .technologies-container {
        width: 100%;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;
        text-align: center;
    }
    
    .technologies-text {
        font-size: 120%;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
        width: 90%;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    .skills {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 94%;
        max-width: 240px;
        margin-right: auto;
        margin-left: auto;
        border: 3px solid dodgerblue;
        border-radius: .5em;
        height: 5em;
        padding-top: .5em;
    }
    
    .skills-img {
        width: 50px;
        height: 50px;
        margin-right: .5em;
        margin-left: .5em;
    }

    .fLeft {
        float: left;
    }

    .skills p {
        font-size: 200%;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }

    .arrow {
        font-size: 280%;
        margin-top: -.85em;
        color: dodgerblue;
    }

    .bold {
        font-size: 160%;
        color: dodgerblue;
        clear: both;
        margin-bottom: 1em;
        padding-top: 1em;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }

    .technologies-img, .spacer {
        width: 31%;
        height: auto;
        float: left;
        margin-top: 1em;
        margin-right:  1%;
        margin-left: 1%;
        transition: 0.5s;
    }

    .technologies-img:hover {
        background-color: lightgrey;
        opacity: .8;
        border-radius: 50%;
    }

    .line-spacer {
        width: 100%;
        height: 10%vw;
        clear: both;
        margin-bottom: 4em;
    }
    /* recent work */
    
    .recent-work {
        grid-area: recent-work;
        width: 100vw;
        text-align: center;
        background-color: dodgerblue;
    }

    .recent-work-inner-container {
        width: 88%;
        max-width: 700px;
        background-color: white;
        padding-top: 1em;
    }
    
    .recent-work-heading {
        font-size: 170%;
        margin-bottom: .7em;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }
    
    .recent-work-tag {
        font-size: 120%;
        margin-bottom: 3em;
        width: 80%;
        max-width: 600px;
        padding-bottom: 1em;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
        text-decoration: none;
        border-bottom: 3px solid dodgerblue;
    }
    /* projects */
    
    .projects {
        grid-area: projects;
        width: 90%;
    }
    
    .project {
        width: 90%;
        max-width: 660px;
        background-color: lightgrey;
        border-radius: 1em;
        margin-bottom: 2em;
        text-align: center;
        padding: .5em;
        position: relative;
    }
    
    .project:hover  .project-img-stack-container {
        opacity: 1;
    }

    .project:hover .project-img{
        opacity: 0.6;
        cursor: pointer;
    }

    .project-img-stack-container {
        transition: .5s ease;
        opacity: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
        top: 0;
        left: 50%;
        padding-bottom: .5em;
        width: 90%;
        max-width: 800px;
        margin-right: 30%;
        transition: 1.5s;
    }

    .stack {
        padding-top: .5em;
        padding-bottom: .5em;
        width: 100%;
        float: right;
        transition: 1s;
      }
    
    .project-stack {
        width: 12vw;
        max-width: 80px;
        height: 12vw;
        max-height: 80px;
        float: right;
        transition: .5s;
    }

    .project-stack:hover {
        background-color: lightgrey;
        opacity: .8;
        border-radius: 50%;
        transform: scale(1.8);
    }

    .project-img {
        opacity: 1;
        width: 90%;
        height: auto;
        margin-top: 1em;
        border-radius: 1em;
        position: relative;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
    }
    
    .repo-live {
        margin-top: .5em;
        margin-bottom: .5em;
        width: 70%;
        color: white;
        width: 90%;
        max-width: 300px;
    }
    
    .repo-live-buttons {
        padding-top: .2em;
        padding-bottom: .2em;
        margin: 0;
        font-size: 0;
        margin-bottom: .5em;
    }

    .ghost {
        border: 3px solid dodgerblue;
        padding: .25em;
        margin-right: 0;
        width: 45%;
        max-width: 300px;
        font-size: 90%;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
        color: dodgerblue;
        background-color: transparent;
        transition: 0.5s;
    }

    .radiusR {
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
    }

    .radiusL {
        border-top-left-radius: .5em;
        border-bottom-left-radius: .5em;
    }

    .ghost:hover {
        color: lightgrey;
        background-color: dodgerblue;
    }
    .project-title {
        text-align: left;
        text-decoration: none;
        border-bottom: 3px solid dodgerblue;
        font-size: 120%;
        padding-top: 1em;
        margin-bottom: .5em;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
        width: 90%;
        max-width: 740px;
        margin-left: 5%;
    }

    .project-desc {
        width: 90%;
        font-size: 95%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        padding-bottom: 1em;
        padding-top: 1em;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
    }


    /* resume */
    
    .resume {
        grid-area: resume;
        width: 100vw;
        background-color: dodgerblue;
        height: 12em;
        margin-top: 1em;
    }
    
    .resume-inner-container {
        position: relative;
        top: -1em;
        width: 88%;
        max-width: 700px;
        background-color: white;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        height: 8em;
        padding: 1em;
        padding-top: 3em;
        padding-bottom: 8em;
    }
    
    .width-contain {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
    
    .resume-inner-container h3 {
        font-size: 120%;
        float: left;
        width: 70%;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }
    
    .resume-link {
        float: right;
    }
    
    .resume-link img {
        height: 50px;
        width: 50px;
        transition: 0.5s;
        border: 2px solid rgba(0,0,0,0);
        margin-top: .5em;
    }
    
    .resume-link img:hover {
        background-color: dodgerblue;
        border: 2px solid dodgerblue;
        border-radius: 50%;
        cursor: pointer;
    }
    /* about */
    
    .about {
        grid-area: about;
        width: 100vw;
        margin-top: 4em;
        text-align: center;
        margin-bottom: 2em;
    }
    
    .about h3 {
        font-size: 180%;
        margin-bottom: 1em;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
        text-decoration: none;
        border-bottom: 3px solid dodgerblue;
        width: 70%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about-text-container {
        width: 100%;
        max-width: 700px;
        text-align: center;
    }

    .big-quote {
        font-size: 250%;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
        font-family: 'Catamaran', sans-serif;
    }

    .italic {
        width: 95%;
        font-style: italic;
        font-size: 130%;
        font-family: 'Catamaran', sans-serif;
        line-height: .8;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2em;
    }

    .brain {
        width: 30%;
        height: auto;
        max-width: 180px;
        margin-top: 1em;
        display: block;
    }

    .about-text {
        width: 80%;
        max-width: 400px;
        font-size: 110%;
        text-align: left;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1em;
    }
    /* footer */
    
    .footer {
        grid-area: footer;
        width: 100%;
        margin-top: 12em;
        background-color: dodgerblue;
        padding-top: 780px;
        text-align: center;
    }
    /* INSIDE FOOTER - colab */
    
    .colab {
        grid-area: colab;
        width: 88%;
        max-width: 700px;
        background-color: #092b4c;
        height: 26em;
        margin-top: -55em;
        padding: 1em;
        padding-top: 2em;
        border-radius: 1em;
        box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.7);
        text-align: center;
    }
    
    .colab-width-container {
        max-width: 400px;
    }
    
    .colab-heading {
        font-size: 140%;
        margin-bottom: 1em;
        color: white;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }
    
    .colab-text {
        font-size: 120%;
        color: white;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    
    .colab-btn {
        font-size: 130%;
        border: 2px solid dodgerblue;
        border-radius: 1em;
        color: dodgerblue;
        background-color: transparent;
        margin-top: 4vw;
        padding: .5em;
        padding-right: 1em;
        padding-left: 1em;
        transition: 0.5s;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }
    
    .colab-btn:hover {
        color: white;
        background-color: dodgerblue;
        cursor: pointer;
    }
    /* back to footer */
    
    .footer-logo-container {
        margin-top: 3em;
        height: 60px;
        width: 60px;
    }
    
    .footer-logo-img {
        height: 50px;
        width: 50px;
        transition: 0.5s;
        border-radius: .5em;
        transition: 0.5s
    }
    
    .footer-logo-img:hover {
        height: 60px;
        width: 60px;
        opacity: .7;
        cursor: pointer;
    }
    
    .footer-tag {
        margin-top: 3em;
        width: 80%;
        max-width: 600px;
    }
    
    .footer-tag p {
        font-size: 120%;
        color: white;
        font-family: 'Carter One', cursive;
        letter-spacing: 1.5px;
        line-height: -1px;
    }
    /* INSIDE FOOTER - social */
    
    .social {
        width: 90%;
        max-width: 300px;
        margin-top: 4em;
    }
    
    .social-link {
        float: left;
        margin-right: .3em;
        margin-left: .3em;
        transition: 0.5s;
    }
    
    .social-link-first {
        float: left;
        margin-right: .3em;
        transition: 0.5s;
    }
    
    .social-link-last {
        float: left;
        margin-left: .3em;
        transition: 0.5s;
    }
    
    .social-link img,
    .social-link-first img,
    .social-link-last img {
        height: 40px;
        width: 40px;
        transition: 0.5s;
    }
    
    .social-link img:hover,
    .social-link-first img:hover,
    .social-link-last img:hover {
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .copyright {
        clear: both;
        padding-top: 3em;
    }
    
    .copyright p {
        font-size: 100%;
        color: white;
        font-family: 'Special Elite', cursive;
        line-height: 1.5;
        letter-spacing: 1px;
    }